.card{
    background-color: rgb(250, 224, 215);
    padding: 1rem;
    margin: 0;
    margin-top: 1rem;
    max-width: 30%;
    border-radius: 8px;
    
}
h4{
    margin-bottom: 0.5rem;
    font-size: larger;
    text-align: center;
}
p{
    text-align: center;
}